SERVER_PORT=8080 # 请确保服务器端口没有被其他应用占用
AUTH_KEY=
MYSQL_HOST=localhost # 请确保 MySQL 服务正在运行，并且主机地址正确
MYSQL_PORT=3306 # 请确保 MySQL 服务正在运行，并且端口号正确
MYSQL_USER=root # 请确保 MySQL 用户存在，并且具有访问权限
MYSQL_PASSWORD=YOUR_PASSWORD # 请替换为你的 MySQL 用户密码，确保安全性
MYSQL_DATABASE=gptload # 请先创建好数据库
REDIS_HOST=localhost # 请确保 Redis 服务正在运行，并且主机地址正确
REDIS_PORT=6379 # 请确保 Redis 服务正在运行，并且端口号正确
ENCRYPTION_KEY=K8sJm2xL9pQr4tYu6wNz3hGf1cBd0eA5 # 请使用一个长度为32的随机字符串替换这个默认值，确保数据安全
